*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 10px black;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50px;
    top: 0;
}

.logo a:nth-child(2){
    margin-left: 20px;
    font-family: "Angkor", serif;
    color: black;
    font-size: 20px;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
}

.logo a:nth-child(1) img{
    margin-top: 10px;
}

.function {
    position: absolute;
    right: 50px;
}

.function a{
    margin-left: 35px;
    font-family: "Bayon", sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.function a:hover{
    text-decoration: underline;
    cursor: pointer;
    font-size: 22px;
}

.function a:hover > a:not(:hover){
    text-decoration: none;
}

.function a:last-child {
    background-color: rgb(200, 112, 0);
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.function a:last-child:hover{
    background-color: rgb(116, 67, 3);
    cursor: pointer;
}

.greeting{
    background-image: linear-gradient(rgba(0, 0, 0, 0.604)),url(kuyteav.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 640px;
    position: static;
    color: white;
    font-family: "Koulen", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting p:nth-child(1){
    font-size: 40px;
}

.greeting p a{
    color: rgb(239, 138, 5);
}

.greeting p:nth-child(2){
    font-family: "Taprom", system-ui;
    font-size: 25px;
}

.greeting a:nth-child(3){
    background-color: rgb(239, 138, 5);
    padding: 10px;
    margin-top: 20px;
    font-size: 25px;
    width: 200px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 2px 50px black;
    text-decoration: none;
    color: white;
}

.greeting a:nth-child(3):hover{
    background-color: rgb(200, 112, 0);
    text-decoration: underline;
    cursor: pointer;
}

.about_us{
    background-color: rgb(231, 231, 231);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_us img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.about_us h1{
    font-family: "Koulen", sans-serif;
    color: rgb(239, 138, 5);
    font-size: 60px;
    margin-top: 40px;
}

.about_us p{
    font-family: "Dangrek", sans-serif;
    font-size: 25px;
    color: black;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    height: fit-content;
    margin: 30px;
}

.tabs div img{
    position: static;
    bottom: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.tabs div h2{
    font-family: "Bayon", sans-serif;
    font-size: 40px;
    color: white;
    margin-left: 30px;
    margin-top: 20px;
}

.tabs div p{
    font-size: 15px;
    padding-bottom: 30px;
    padding: 20px;
}

.tabs div span{
    font-family: "Dangrek", sans-serif;
    font-size: 15px;
    padding: 20px;
}

.border{
    border-top: 1px solid black;
    width: 100%;
}

ul li{
    font-family: "Dangrek", sans-serif;
    margin-left: 20px;
}

.tabs div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: none;
    background-color: rgb(239, 138, 5);
    width: 380px;
    height: fit-content;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 1px 1px 5px black;
    position: relative;
}

.tabs div:hover{
    box-shadow: 0 0 30px rgb(239, 138, 5);
    cursor: pointer;
}

.google_map iframe{
    width: 100%;
    height: 350px;
    display: block;
}

.contact{
    background-color: rgb(23, 42, 93);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h2{
    font-family: "Preahvihear", sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 30px;
}

.contact div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    gap: 40px;
}

.social a{
    border: 1px dashed white;
    width: 200px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
}

.social a:nth-child(1):hover{
    border-style: solid ;
    transform: scale(1.1);
    background-color: white;
    color: blue;
    border: none;
}

.social a:nth-child(2):hover{
    border-style: solid ;
    transform: scale(1.1);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
}

.social a:nth-child(3):hover{
    border-style: solid ;
    transform: scale(1.1);
    background-color: rgb(89, 153, 256);
    color: rgb(255, 255, 255);
    border-style: solid black;
    border: none;
}

.social a:nth-child(4):hover{
    border-style: solid ;
    transform: scale(1.1);
    background-color: rgb(0, 164, 0);
    color: rgb(255, 255, 255);
    border-style: solid black;
    border: none;
}

.history{
    background-color: rgb(147, 0, 0);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history h1{
    font-family: "Bayon", sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 50px;
}

.history div{
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    width: 90%;
    border-radius: 30px;
    border: 1px double rgb(23, 42, 93);
    border-width: 3px;
    height: 300px;
}

.history div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.history div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.history img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: -3px 3px 10px black;
}

.history p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    font-family: "Anton", sans-serif;
    color: rgb(23, 42, 93);
    font-size: 50px;
}


footer{
    background-color: rgb(23, 42, 93);
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: static;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

@media (max-width: 600px) {

  /* ===== Global spacing ===== */
  body {
    overflow-x: hidden;
  }

  /* ===== Header (logo + nav) ===== */
  header {
    height: auto;
    padding: 10px 14px;
    justify-content: space-between;
  }

  .logo {
    position: static;
    left: auto;
    top: auto;
  }

  .logo a:nth-child(2) {
    margin-left: 10px;
    font-size: 18px;
    height: auto;
    line-height: normal;
  }

  .logo a:nth-child(1) img {
    margin-top: 0;
    height: 40px;
    width: auto;
  }

  .function {
    position: static;
    right: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .function a {
    margin-left: 0;
    font-size: 16px;
  }

  .function a:hover {
    font-size: 16px; /* stop growing on hover (prevents layout jumping on phone) */
  }

  .function a:last-child {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 12px;
  }

  /* ===== Greeting / Hero ===== */
  .greeting {
    height: 70vh;
    padding: 0 16px;
    text-align: center;
    background-attachment: scroll;
  }

  .greeting p:nth-child(1) {
    font-size: 28px;
  }

  .greeting p:nth-child(2) {
    font-size: 18px;
  }

  .greeting a:nth-child(3) {
    font-size: 18px;
    width: auto;
    min-width: 180px;
    padding: 12px 18px;
  }

  /* ===== About section ===== */
  .about_us h1 {
    font-size: 36px;
    margin-top: 25px;
    text-align: center;
  }

  .about_us p {
    font-size: 18px;
    padding: 0 16px;
    text-align: center;
  }

  /* ===== Tabs => 1 column cards ===== */
  .tabs {
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 16px;
  }

  .tabs div {
    width: 100%;
    border-radius: 20px;
    margin-top: 0;
  }

  .tabs div img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .tabs div h2 {
    font-size: 28px;
    margin-left: 16px;
    margin-top: 14px;
  }

  .tabs div p,
  .tabs div span,
  ul li {
    font-size: 14px;
  }

  /* ===== Google map ===== */
  .google_map iframe {
    height: 260px;
  }

  /* ===== Contact grid ===== */
  .contact h2 {
    font-size: 28px;
    padding: 20px 12px;
  }

  .contact div {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin: 0 14px 30px;
  }

  .social a {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    display: block;
  }

  /* ===== History section: stack image + text ===== */
  .history h1 {
    font-size: 34px;
    padding: 24px 14px;
  }

  .history div {
    height: auto;
    flex-direction: column;
    gap: 12px;
    padding: 14px;
  }

  /* remove the reverse alignment on mobile */
  .history div:nth-child(2) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .history img {
    width: 100%;
    height: 180px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.35);
  }

  .history p {
    width: 100%;
    height: auto;
    font-size: 28px;
    text-align: center;
    padding: 10px 0;
  }

  /* ===== Footer ===== */
  footer {
    font-size: 12px;
    padding: 14px;
    text-align: center;
  }
}
